@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}
body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;

}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;

}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;

}
header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 100;
}
.ninjas {
    position:absolute;
    overflow: hidden;
    z-index: 2;
    
    
}
#ninjasolid {
    position:absolute;
    
    left: 1450px;
    top: 630px;
    z-index: 1000;
    overflow: hidden;
}
#ninja1 {
    max-width: 150px;
    height: auto;
    top: 380px;
    left: 250px;
    
}
#ninja2 {
    max-width: 150px;
    height: auto;
    top: 200px;
    left: 280px;
}
#ninja3 {
    max-width: 150px;
    height: auto;
    top: 120px;
    left: 150px;
}
#ninja4 {
    max-width: 150px;
    height: auto;
    top: 370px;
    left: 270px;
}
#ninja5 {
   
        top: 420px;
        left: 100px;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon {
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;

}

.img-container {
    position: relative;
    
}
#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 6.5vw;
    right: -280px;
    z-index: 9;
    margin-bottom: 50px;
    
}
#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    
    font-size: 2vw;
    z-index: 9;
    transform: translateY(100px);
}
.sec {
    width: 100%;
    position: relative;
    padding: 100px;
    background: #1c0522;
    
}.sec h2{
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #fff;
}
.sec p{
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 2em;
    color: rgb(255, 255, 255);
}
.sec img{
    margin-top: 2rem;
    width: 100%;
}
.sec iframe {
    
    margin-left:auto;
    margin-right:auto;
    display:inline-flex;
}
.sec3 {
    width: 100%;
    position: relative;
    padding: 100px;
    background: #1c0522;
    display: flex;
    justify-content: center;
    
}
.sec3 a{
    padding-left: 10%;
    padding-right: 10%;
}
.sec3 i{
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 5rem;
}

.fa-discord:hover{
    
    color:#5460E6;
    transition: 0.2s ease-in-out;
}
.fa-telegram:hover {
    color:rgb(50,164,214);
    transition: 0.2s ease-in-out;
}
.fa-youtube:hover {
    color: #C31E1D;
    transition: 0.2s ease-in-out;
}
.fa-twitter:hover{
    color: #1C93E4;
    transition: 0.2s ease-in-out;
   
}

.slideninja1 {
    
    width: 100%;
    background: #1c0522;
    display: flex;
    justify-content: center;
    position:relative;
    margin-top: -60px;
    margin-bottom: -5px;
}

.video {
    background-repeat: no-repeat;
    background-image: url('/images/ninjaonvideo.png');
    
    max-width:100%;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
    height: auto;
}
.academyTextImg{
    display:flex;
}
@media screen and (max-width: 1669px) { 
    .academyTextImg{
        display:block;
        align-items: center;
    }
}
@media screen and (max-width: 845px) { 
    .video {
        width: 360px;
        height: 160px;
    }
    .academyTextImg p{
        font-size: 12px;
    }
    .sec p {
        font-size: 1em;
    }
    #academy_header {
        font-size: 1em;
        text-align: center;
        white-space: nowrap;
    }
    #academy {
        font-size: 1em;
        text-align: center;
        white-space: nowrap;
        
    }
    .navbar__menu {
        overflow-x: hidden;
        display: grid;
        grid-template-columns: auto;
        margin:0;
        width: 20%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #2B1055 70%;
        justify-content: flex-start;
      }
      .navbar__menu.active {
        background: #2B1055;
        width: 100%;
        top: 100%;
        margin-left: -100px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
        justify-content: flex-start;
      }
    header {
       
        background: #2B1055;
    }
    #ninja1 {
        max-width: 150px;
        top: 380px;
        left: -240px;
        overflow-x: hidden;
        overflow-y: hidden;
        
    }
    #ninja2 {
        top: 200px;
        left: -150px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #ninja3 {
        top: 60px;
        left: -220px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #ninja4 {
        top: 300px;
        left: -220px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #text {
        
        position: absolute;
        color: #fff;
        white-space: nowrap;
        font-size: 6.5vw;
        right: -300px;
        z-index: 9;
        margin-bottom: 50px;
        
    }
    #btn {
        text-decoration: none;
        display: inline-block;
        padding: 8px 30px;
        border-radius: 40px;
        background: #fff;
        color: #2b1055;
        white-space: nowrap;
        font-size: 5vw;
        z-index: 9;
        transform: translateY(100px);
    }
    header .logo {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        margin-left: -90px;
        text-transform: uppercase;
        letter-spacing: 0px;
    
}
.sec3 a{
    padding-left: 10%;
    padding-right: 15%;
}
.sec3 i{
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3rem;
}

.sec3 {
  
    padding: 50px;

    
}
#mobile-menu {
    position: absolute;
    top: 28%;
    right: 5%;
    transform: translate(5%, 20%);
} 
.navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
 
.navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    z-index: 100000;
  }
   
#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
    z-index: 100;
  }
  
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    z-index: 100;
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    z-index: 100;
  } 

}
footer i {
    color: #fff;
   
    
  
}
footer .icons{
    display: flex;
    justify-content: center;
}
footer a {
    
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
}
footer p {
    padding: 3vh;
    margin: auto;
    width: 50%;
    color: #fff;
    font-size: 2vh;
    text-align: center;
}
footer {
    height: 300px;
    
    overflow: hidden;
    background: linear-gradient(to top,#000000,#1c0522);
}